@model Blog

@{
    Layout = "_DashBoard";
}

<div class="dash-content">
    <div class="overview">
        <div class="title">
            <i class="uil uil-tachometer-fast-alt"></i>
            <span class="text">Edit Blog</span>
        </div>

        <div>
            <form method="post" asp-action="EditBlog" class="row">

                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Blog Title</label>
                    <input type="text"
                           name="Title"
                           id="Title"
                           asp-for="Title"                          
                           class="form-control"
                           value="@Model.Title"
                           placeholder="" />
                </div>


                <div class="mb-3">
                    <label asp-for="Content" class="form-label">Blog Content</label>
                    <textarea type="text"
                              name="Content"
                              id="Content"
                              asp-for="Content"                       
                              class="form-control"
                              value="@Model.Content"
                              placeholder="">
                    </textarea>
                </div>


                <div class="mb-3 col-lg-6">
                    <label asp-for="TypeId" class="form-label">Category</label>
                    <select class="form-select" asp-for="TypeId">

                      
                                @if (Model.TypeId == 1)
                                {
                                    <option selected value="1">Fashion</option>
                                    <option value="2">Travel</option>
                                    <option value="3">Food</option>
                                    <option value="4">Health</option>
                                    <option value="5">Sport</option>
                                    <option value="6">Comedy</option>
                                }
                                else if (Model.TypeId == 2)
                                {
                                    <option value="1">Fashion</option>
                                    <option selected value="2">Travel</option>
                                    <option value="3">Food</option>
                                    <option value="4">Health</option>
                                    <option value="5">Sport</option>
                                    <option value="6">Comedy</option>
                                }
                                else if (Model.TypeId == 3)
                                {
                                    <option value="1">Fashion</option>
                                    <option value="2">Travel</option>
                                    <option selected value="3">Food</option>
                                }
                                else if (Model.TypeId == 4)
                                {
                                    <option value="1">Fashion</option>
                                    <option value="2">Travel</option>
                                    <option value="3">Food</option>
                                    <option selected value="4">Health</option>
                                    <option value="5">Sport</option>
                                    <option value="6">Comedy</option>
                                }
                                else if (Model.TypeId == 5)
                                {
                                    <option value="1">Fashion</option>
                                    <option value="2">Travel</option>
                                    <option value="3">Food</option>
                                    <option value="4">Health</option>
                                    <option selected value="5">Sport</option>
                                    <option value="6">Comedy</option>
                                }
                                else if (Model.TypeId == 6)
                                {
                                    <option value="1">Fashion</option>
                                    <option value="2">Travel</option>
                                    <option value="3">Food</option>
                                    <option value="4">Health</option>
                                    <option value="5">Sport</option>
                                    <option selected value="6">Comedy</option>
                                }
                                else
                                {
                                    <option selected>Select Category</option>
                                    <option value="1">Fashion</option>
                                    <option value="2">Travel</option>
                                    <option value="3">Food</option>
                                    <option value="4">Health</option>
                                    <option value="5">Sport</option>
                                    <option value="6">Comedy</option>
                                }
                        
                    </select>
                </div>


                <div class="col-lg-12 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

